button {
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}


.heading {}

.container {
	max-width: 1170px;
	margin: 0 auto;
	/* outline: 1px dashed #55ffff; */
}

.over-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;

}

.over-header-links {}

.flex {}

.header-logo {}

.header-logo-img {
	min-width: 261px;
}

.tel {
	margin-right: 550px;
	color: #666;
	font-family: Muller;
	font-size: 20px;
	font-weight: 500;
}

.account {
	background-image: url("../img/keyboard-tab.svg");
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 29px;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	padding-left: 45px;
}

.breadcrumbs-item:not(:last-child) {
	margin-right: 45px;
}

.breadcrumbs-item-link {}

.feedback {}

.feedback-btn {}

.feedback-tour {
	margin-right: 40px;
}

.feedback-call {
	margin-right: 45px;
}

.main {}

.main-title {
	display: none;
}

.section {
	margin-bottom: 70px;
}

.offers-content {}

.section-title {
	padding-left: 40px;
	margin-bottom: 20px;
}

.offers-content-title {}

.offers-item {
	display: flex;
}

.offers-card-items {
	margin-right: 24px;
}

.offers-item-list {
	min-width: 573px;
	min-height: 258px;
}



.list-item-descr {
	padding-top: 40px;
	padding-left: 45px;
}

.list-item-descr-1 {}

.list-item-card-1 {
	margin-bottom: 24px;
	/* background-image: url("../img/card-image-1.jpg"); */
	background-repeat: no-repeat;
	object-fit: cover;
}

.list-item-card-2 {
	/* background-image: url("../img/card-image-2.jpg"); */
	background-repeat: no-repeat;
	object-fit: cover;
}

.list-item-card-3 {
	/* background-image: url("../img/card-image-3.jpg"); */
	background-repeat: no-repeat;
	object-fit: cover;
}

.offers-item-title {
	margin-bottom: 15px;
}

.offers-item-descr {
	margin-bottom: 47px;
}

.offers-item-link {}

.about-us {}

.about-us-content-title {}

.about-us-descr {
	width: 888px;
}

.services {}

.serveces-title {}

.services-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services-item {
	display: flex;
	flex-direction: column;
	max-width: 573px;
	/* outline: 1px dotted black; */
}

.services-item-img {
	margin-bottom: 26px;
	visibility: hidden;
}

.services-item:nth-child(1),
.services-item:nth-child(2) {
	margin-bottom: 24px;
}


.services-item-title {
	margin-bottom: 10px;
	/* добавил самостоятельно, в макете не просматривается */
}

.services-item-descr {
	margin-bottom: 35px;
}

.advantages {}

.advantages-title {}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.advantages-item {
	display: flex;
	flex-direction: column;
	max-width: 276px;
	min-height: 276px;
	/* outline: 1px dotted black; */

}

.advantages-item:nth-child(-n+4) {
	margin-bottom: 22px;
}

.advdntages-item-icon {
	margin-top: 40px;
	margin-left: 45px;
	margin-bottom: 10px;
}

.advantages-text {
	padding-left: 45px;
	padding-right: 42px;
}

.placement {}

.placement-title {}

.placement-list {
	display: flex;
	flex-wrap: wrap;
}

.placement-item {
	max-width: 374px;
	/* outline: 1px dotted black; */
	margin-bottom: 24px;
}

.price-descr {
	display: flex;
	flex-direction: column;
	padding-top: 32px;
	padding-left: 45px;
}

.price-flex {
	display: flex;
}

.placement-item-9 {
	/* background-image: url("../img/placement-9.jpg"); */
	min-width: 374px;
	object-fit: contain;
	background-repeat: no-repeat;
}

.sample-hotel {
	visibility: hidden;
}

.placement-item:not(:nth-child(-n+6)) {
	margin-bottom: 0;
}

.placement-item:not(:nth-child(3n)) {
	margin-right: 24px;
}




.price {
	margin-right: 53px;
	margin-bottom: 16px;
}

.hotel-rating {}

.rating {}

.placement-descr {
	margin-bottom: 20px;
}

.hotel-room {
	margin-bottom: 45px;
	align-self: start;
}

.all-options {
	display: inline-block;
	padding-top: 373px;
	padding-left: 54px;
}

.footer {}