body {
	background-color: rgb(235, 235, 235);
}

p {
	text-align: justify;
}

.images {
	width: 50vw;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.topbutton {
	width: 100px;
	border: 2px solid #ccc;
	background: #f7f7f7;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	color: #333;
	font-family: verdana;
	font-size: 12px;
	border-radius: 5px;
	text-decoration: none;
}