/* own styles */

.html {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	line-height: normal;
	/* важно! */
	/* background-color: gray; */
}

*,
*::after,
*::before {
	box-sizing: inherit;
	/* outline: 1px dotted red; */
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.img {
	max-width: 100%;
}

svg {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1770px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
}

/* fonts */

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.woff2) format("woff2");
	src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.woff) format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-ExtraBold'), url(../fonts/Montserrat-ExtraBold.woff2) format("woff2");
	src: local('Montserrat-ExtraBold'), url(../fonts/Montserrat-ExtraBold.woff) format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Medium'), url(../fonts/Montserrat-Medium.woff2) format("woff2");
	src: local('Montserrat-Medium'), url(../fonts/Montserrat-Medium.woff) format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.woff2) format("woff2");
	src: local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('SemiBold'), url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
	src: local('SemiBold'), url(../fonts/Montserrat-SemiBold.woff) format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* basic */

.header {
	border-radius: 0px 0px 32px 32px;
	background: #FFF;
	box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
	margin-bottom: 50px;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	padding-top: 14px;
	padding-bottom: 14px;
	align-items: center;
}

.header__main-title {
	display: inline-block;
}

.header__main-title>svg {
	vertical-align: middle;
}

.header__compass-svg {
	padding-right: 12.16px;
}

.header__heading-svg {}

.header__breadcrumb {}

.breadcrumb {
	display: flex;
}

.breadcrumb__item {}

.breadcrumb__item:not(:last-child) {
	margin-right: 85px;
}

.breadcrumb__link {
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}


.header__link {}

.main {}

.slogan {}

.slogan__container {
	padding-left: 80px;
	margin-bottom: 50px;
	background-image: url("../img/low-angle-photo-of-balconies-24620151.jpg");
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 32px;
	height: 620px;
}

.slogan__main-title {
	padding-top: 100px;
	padding-bottom: 24px;
	width: 837px;
	color: #FFF;
	font-size: 70px;
	font-weight: 800;
}

.slogan__desc {
	padding-bottom: 115px;
	width: 837px;
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
}

.slogan__btn {
	padding: 25px 39px;
	color: #FFF;
	text-align: center;
	font-size: 23px;
	font-weight: 700;
	border-radius: 16px;
	background-color: #F90;
}

.btn-general {}

.btn-reset {}

.about-us {}

.about-us__title {}

.section-title {
	color: #000;
	font-size: 48px;
	font-weight: 400;
}

.about-us__desc {
	width: 1235px;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	/* 200% */
	margin-bottom: 50px;
}

.statement {
	display: flex;
	gap: 32px;
}

.statement__list {}
.statement__div{
	padding-left: 300px;
}

.statement__list_left {
	display: flex;
	border-radius: 32px;
	background-image: url("../img/rectangle-2.jpg");
	background-repeat: no-repeat;
	object-fit: cover;
	height: 622px;
	width: 868px;
	align-items: flex-end
}

.statement__list_left>div {
	padding-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: rgba(0, 0, 0, 0.50);
	border-radius: 32px;
}

.statement__list_right {}

.statement__desc {
	padding-left: 50px;
	padding-bottom: 50px;
	width: 454px;
	color: #FFF;
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
	/* 200% */
}

.statement__btn {
	padding-bottom: 68px;
	padding-right: 50px;
}

.about-us__btn {
	padding: 19px 38px;
	border-radius: 16px;
	border: 3px solid #F90;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

.statement__list-another {
	width: 870px;
	height: 295px;
	border: 1px solid #CACACA;
	border-radius: 32px;
}

.first-paragraph{
	background-image: url("../img/Frame-2.svg");
	background-repeat: no-repeat;
	background-position: 50px center;
}

.second-paragraph{
		background-image: url("../img/Frame-1.svg");
			background-repeat: no-repeat;
			background-position: 50px center;
}

.statement__list-another:not(:last-child) {
	margin-bottom: 32px;
}

.statement__title {
	padding-top: 65px;
	margin-bottom: 8px;
}

.statement__desc-another {
	padding-left: 0;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	/* 200% */
}

.stages {}

.stages__title {}

.stages__desc {}

.stages__btn {}

.stages__btn-transparent {}

.stages__images {}

.questions {}

.questions__title {}

.questions__list {}

.questions-item {}

.questions-item__title {}

.questions-item__desc {}

.footer {}

.footer__list {}

.legal-information {}

.legal-information__item {}

.legal-information__link {}

.footer__compass-svg {}

.footer__heading-svg {}

.form {}

.comment {}

.comment__desc {}